* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: cursive;
  background: url("/photo/background.png") no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation .btnLogin-popup a {
  margin-left: 1px;
}

.navigation .btnLogin-popup:hover {
  background: #fff;
  color: #162938;
}

.head {
  justify-content:none;
  align-items: none;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border: 15px;
  border-color: black;
  border-radius: 1rem;
}
 

  .head{
    position: absolute;
    top: -7%;
    right: 65%;
    font-size: 3em;
    color: red;
  }
  .icon{
    position: absolute;
    top: 255px;
    right: 70%;
    font-size: 2em;
    color: #1a2c3a;
    display: flex;
    padding-bottom: 15px;}

    font{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
